h1, h2, h3, h4, h5 , h6 {
    text-decoration: underline ;
}

.fancy-header {
    text-align: center;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  25px 25px 51px #bebebe,
    -25px -25px 51px #ffffff;
}


body {
    font-family: "Oswald", sans-serif;
    background-color: #8d8d8d;
    box-shadow:  25px 25px 51px #bebebe,
    -25px -25px 51px #ffffff;

}

.pics {
    border-radius: 38px;
    background: #e0e0e0;
    box-shadow:  19px 19px 38px #8d8d8d,
    -19px -19px 38px #ffffff;
    padding: 20px;
    width: 300px;
    height: 300px;
}

main {
    background-image: url("/images/background-image.png");
    box-shadow:  25px 25px 51px #bebebe,
    -25px -25px 51px #ffffff;

}



.column1 {
    max-width: 500px;
    margin-left: 250px;

}
.column2 {
    max-width: 500px;
    margin-left: 550px;

}

.column3 {
    max-width: 500px;
    margin-left: 800px;

}